!.gitignore
.idea/*
.git/*
.DS_Store
__pycache__/
scripts/__pycache__/
dist/
build
installation.yaml
user.yaml
sync/*
luna_pinyin.userdb/*
wubi86_jidian.userdb
user.txt
pinyin_simp.userdb/*

others

wubi86_jidian_pinyin_review.tsv
